*{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0px;
  border: 0px;
  
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 10px;
  display: inline-block; 
}

.navbar-brand h1 {
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;   
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  display: inline-block;
}

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}
#nav-list {
  width: 100%;
  border-top: 2px solid: black;
  border-bottom: 2px solid: black;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  color: #951C49;
  text-align: center;
  font-size: 1.2em;
}
#nav-list a:hover {
  background: #E7E7E7;
  width: 100%;
  border-top: 2px solid: black;
  border-bottom: 2px solid: black;
}
#collapsable-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  border-top: 2px solid: black;
  border-bottom: 2px solid: black; 
}
.row {
  margin-bottom: 15px;
}
.row > div {
  margin-left: 18px;
  margin-right: 20px;
  background: #557c3e;
  height: 1000px;
  text-align: center; 
}
.li {
  display: block;
  padding: .5rem 1rem;
}
#menu {
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-weight: 600;
  font-size: 3.5rem;
}
